.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.modal-content .modal-titulo {
  margin: 0 0 1rem;
  color: #408C53; /* Verde institucional */
}

.modal-content label {
  display: block;
  margin-top: 1rem;
  font-weight: 600;
  color: #333;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 1.5rem;
}

.modal-buttons button {
  background-color: #408C53;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #336c42;
}
