.main-productos {
  position: relative;
  top: 135px;
  background-color: #f8f8f8;
  margin-bottom: 200px;
}

.hero-productos {
  background: url(/img/banner/fondo.svg);
  background-attachment: fixed;
  background-size: cover;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.hero-productos h2 {
  font-size: 3rem;
  color: var(--cafe-color);
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero-productos p {
  font-size: 1.5rem;
  color: var(--cafe-color);
}

.filtros-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.filtro-btn {
  background: var(--verde-color);
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.filtro-btn.active {
  background: var(--cafe-color);
}

.filtro-btn:hover {
  background: var(--hover-color);
  transform: translateY(-2px);
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .hero-productos h1 {
    font-size: 2rem;
  }
}