header{
  width: 100%;
  height: fit-content;
  background: #568b11;
  border-bottom: #000000 solid 2px;
}

header .contenedor-logo-header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-logo-header img{
  margin: 20px;
  width: 200px;
}

header ul{
  height: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  gap: 10%;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

header a{
  width: 100px;
  height: 25px;
  transition: 0.8s;
  cursor: pointer;
  font-family: none;
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  background: none;
  border: none;
}


header a:hover{
  background: #0000002d;
  border-radius: 10px;
}

/* Oculta el menú en pantallas pequeñas por defecto */
/* Estilos para el botón hamburguesa */
.menu-hamburguesa {
  display: none; /* Oculto por defecto */
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* responsive.css */

/* Para tablets */
@media (max-width: 750px) { 
  header{
    display: flex;
    justify-content: space-between;
    height: 115px;
  }

  header a:hover{
    background: transparent;
  }

  .contenedor-logo-header img{
    width: 120px;
    margin: 20px;
  }

  header ul{
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .menu-hamburguesa {
    position: relative;
    left: 20px;
    height: 100%;
    display: block; /* Mostrar botón hamburguesa */
    font-size: 3.5rem;
    margin: 0;
  }


  .menu-abierto-header{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    top:115px;
    width: 100%;
    height: 25%;
    background-color: #2e2f04;
    animation: bajarMenu 0.4s ease-out forwards;
  }

  .oculto-header{
    display: none;
    visibility: hidden;
  }

  .menu-oculto-header{
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 115px;
    width: 100%;
    height: 25%;
    background-color: #2e2f04;
    animation: subirMenu 0.4s ease-in forwards;
  }

}

  
@keyframes bajarMenu {
  from {
    transform: translateY(-5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes subirMenu {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-20%);
    opacity: 0;
  }
}
  